apiVersion: certmanager.k8s.io/v1alpha1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: {{ letsencrypt.email }}
    server: {{ letsencrypt.prod }}
    privateKeySecretRef:
      name: letsencrypt-prod
    dns01:
      providers:
      - name: cloudflare
        cloudflare:
          email: {{ cloudflare.email }}
          apiKeySecretRef:
            name: cloudflare-api-key
            key: cloudflare-api-key
---
apiVersion: certmanager.k8s.io/v1alpha1
kind: ClusterIssuer
metadata:
  name: letsencrypt-stage
spec:
  acme:
    email: {{ letsencrypt.email }}
    server: {{ letsencrypt.stage }}
    privateKeySecretRef:
      name: letsencrypt-stage
    dns01:
      providers:
      - name: cloudflare
        cloudflare:
          email: {{ cloudflare.email }}
          apiKeySecretRef:
            name: cloudflare-api-key
            key: cloudflare-api-key
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-key
  namespace: cert-manager
type: Opaque
data:
  cloudflare-api-key: {{ cloudflare.key | b64encode }}
