---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: echoserver
  namespace: echoserver
  annotations:
    # kubernetes.io/tls-acme: "true"
    kubernetes.io/ingress.class: "nginx"
spec:
  tls:
  - hosts:
    - echoserver.{{ cluster.domain }}
    secretName: {{ cluster.name }}-tls
  rules:
  - host: echoserver.{{ cluster.domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: echoserver
          servicePort: 80
