#!/bin/bash

set -e

echo waiting for wildcard tls secret
until [[ $( kubectl -n {{ cluster.name }} get secret {{ cluster.name }}-tls  --no-headers | wc -l ) -eq "1" ]]; do
  sleep 0.5
  echo -n .
done
echo done

kubectl -n {{ cluster.name }} annotate --overwrite=true secret {{ cluster.name }}-tls kubed.appscode.com/sync=""
