---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ cluster.name }}
---
apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: {{ cluster.name }}-wildcard
  namespace: {{ cluster.name }}
spec:
  secretName: {{ cluster.name }}-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: "*.{{ cluster.domain }}"
#  dnsNames:
#  - echoserver.{{ cluster.domain }}
  acme:
    config:
    - dns01:
        provider: cloudflare
      domains:
      - "*.{{ cluster.domain }}"
